.Card-border{
    background-color: lightgrey;
    height: 250px;
    width: 320px;
    border-radius: 25px;
    margin: auto;
    padding-top: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.192);
}
.Card{
    background-color: goldenrod;
    margin: auto;
    height: 240px;
    width: 300px;
    text-align: center;
    
    border-radius: 25px;
}
.Card div{
    font-weight: bold;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.pokemon-name{
    font-size: 20px;
}
.pokemon-id{
    font-size: 14px;
}
.pokemon-image{
    margin-top: 10px;
    border-radius: 15px;
    background-color: white;
    padding: 20px;
    padding-top: 20px;
    height: 140px;
    width: 200px;
    max-width: 250px;
}
.pokemon-types{
    padding-top: 5px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
