
.Card{
    margin: auto;
    height: 300px;
    width: 300px;
    text-align: center;
    box-shadow: 5px  5px 5px 5px rgba(0, 0, 0, 0.192);
    border-radius: 25px;
}
.Card div{
    font-weight: bold;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card-header{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.pokemon-image{
    border-radius: 15px;
    background-color: lightgray;
    padding: 20px;
    padding-top: 20px;
    height: 140px;
    max-width: 250px;
}
.pokemon-types{
    display: flex;
    justify-content: center;
    gap: 15px;
}
