
.Card{
    margin: auto;
    background-color: antiquewhite;
    width: 250px;
    text-align: center;
    border: 1px solid black;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.568);
    border-radius: 25px;
}