#Pokemons{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
}
.Container{
    min-height: 100vh;
    background-image: url('../assets//images/BackGround.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    align-items: center;
    text-align: center;
}
.pages-number{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
}
